<footer class="section footer">
  <!-- footer links -->
  <ul class="footer-links">
    <li>
      <a href="#home" class="footer-link scroll-link">Hlavní</a>
    </li>
    <li>
      <a href="#general" class="footer-link scroll-link">Obecné</a>
    </li>
    <li>
      <a href="#places" class="footer-link scroll-link">Místo</a>
    </li>
    <li>
      <a href="#hotel" class="footer-link scroll-link">Ubytování</a>
    </li>
    <li>
      <a href="#parking" class="footer-link scroll-link">Parkování</a>
    </li>
    <li>
      <a href="#contacts" class="footer-link scroll-link">Kontakt</a>
    </li>
  </ul>
  <!-- footer icons -->
  <ul class="footer-icons">
    <li>
      <a href="#" target="_blank" class="footer-icon">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="#" target="_blank" class="footer-icon">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="#" target="_blank" class="footer-icon">
        <i class="fab fa-twitch"></i>
      </a>
    </li>
  </ul>
  <p class="copyright">
    Barthilas &copy; No design whatsoever ever again
    {{currentYear}}. All rights reserved.<br> Powered by pure HTML & CSS and Angular.
  </p>
</footer>
