<section class="section contacts" id="contacts">
  <div class="section-title">
    <h2>Kontakty</h2>
  </div>
  <div class="section-center">
    <p>Na tento e-mail potvrďte vaši účast <span>snetivy.svatba@seznam.cz</span></p>
    <div class="contacts-container">
      <div class="contact-container">
        <h3>Svědek - Martin Snětivý</h3>
        <div class="underline"></div>
        <div class="tel">
          <fa-icon [icon]="faMobile"></fa-icon>
          <p>(+420) 720 382 503</p>
        </div>
      </div>
      <div class="contact-container">
        <h3>Svědkyně - Zuzana Miková</h3>
        <div class="underline"></div>
        <div class="tel">
          <fa-icon [icon]="faMobile"></fa-icon>
          <p>(+420) 603 485 044</p>
        </div>
      </div>
      <div class="contact-container">
        <h3>Nevěsta</h3>
        <div class="underline"></div>
        <div class="tel">
          <fa-icon [icon]="faMobile"></fa-icon>
          <p>(+420) 776 715 214</p>
        </div>
      </div>
      <div class="contact-container">
        <h3>Ženich</h3>
        <div class="underline"></div>
        <div class="tel">
          <fa-icon [icon]="faMobile"></fa-icon>
          <p>(+420) 730 863 332</p>
        </div>
      </div>
    </div>
  </div>
</section>
