<section class="section general" id="general">
  <div class="section-title">
    <h2>Sraz <span>svatebčanů</span></h2>
    <div class="underline"></div>
  </div>
  <div class="section-center">
    <div class="meets">
      <div class="meet-container">
        <span class="meet-icon"><fa-icon [icon]="faFemale"></fa-icon></span>
        <div class="meet-info">
          <h4>U nevěsty ve 11:30 hod</h4>
          <div class="address">
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            <p>Malecí 571, Nové Město n. Metují</p>
          </div>
        </div>
      </div>
      <div class="meet-container">
        <span class="meet-icon"><fa-icon [icon]="faMale"></fa-icon></span>
        <div class="meet-info">
          <h4>U ženicha od 10:00 hod</h4>
          <div class="address">
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            <p>Restaurace u Pešíků Červený Kostelec</p>
          </div>
        </div>
      </div>
    </div>
    <div class="meet-container">
      <span class="meet-icon"><fa-icon [icon]="faCampground"></fa-icon></span>
      <div class="meet-info">
        <h4>Na zámku/nádvoří ve 12:30</h4>
        <div class="address">
          <fa-icon [icon]="faScroll"></fa-icon>
          <p>Zde probíhá řazení svatebčanů.</p>
        </div>
      </div>
    </div>
    <div class="gifts-container">
      <h3 class="section-title">Dary</h3>
      <p>
        Největším dárkem pro nás bude, když tento den strávíte s námi a užijete
        si ho. Pokud byste nás i přesto chtěli obdarovat, budeme rádi za
        jakýkoliv finanční příspěvek na líbánky.
      </p>
    </div>
  </div>
</section>
