.places {
  background: var(--clr-grey-10);
}

.place-container {
  margin-top: 1rem;
}

.place-container .underline {
  margin-left: 0;
}

.place-container p {
  margin-bottom: 0.5rem;
}

.address, .weblink{
  display: flex;
  gap: 5px;
}

.weblink a {
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 907px) {
  .places-container{
    display: flex;
    flex-direction: row;
  }

  .place-container {
    flex: 50%;
  }
}
