<section class="section places" id="places">
  <div class="section-title">
    <h2><span>Místo</span></h2>
  </div>
  <div class="section-center">
    <p>
      Místo obřadu a místo svatební hostiny jsou od sebe vzdáleny 20 km,
      přibližně 20-30 minut cestou autem.
    </p>
    <div class="places-container">
      <div class="place-container">
        <h3>Místo obřadu</h3>
        <div class="underline"></div>
        <h4>Zámek Nové Město Nad Metují</h4>
        <div class="address">
          <fa-icon [icon]="faMapMarked"></fa-icon>
          <p>Husovo nám. 1201, 549 01, Nové Město nad Metují</p>
        </div>
        <div class="weblink">
          <fa-icon [icon]="faLink"></fa-icon>
          <a href="http://www.zameknm.cz" target="_blank">URL</a>
        </div>
      </div>
      <div class="place-container">
        <h3>Místo svatební hostiny</h3>
        <div class="underline"></div>
        <h4>Restaurace a penzion „U Pešíků“</h4>
        <div class="address">
          <fa-icon [icon]="faMapMarked"></fa-icon>
          <p>Stolín 12, 549 41, Červený Kostelec</p>
        </div>
        <div class="weblink">
          <fa-icon [icon]="faLink"></fa-icon>
          <a class="nav-link" href="http://www.upesiku.cz" target="_blank">URL</a>
        </div>
      </div>
    </div>
  </div>
</section>
