<section class="section" id="hotel">
  <div class="section-title">
    <h2>Ubytování</h2>
  </div>
  <div class="section-center hotel-center">
    <app-hotel-card
      class="hotel-1"
      img="../../assets/pesik.png"
      title="Penzion u Pešíků"
      text="Ubytování má kapacitu 24 lůžek ve třílůžkových a čtyřlůžkových pokojích s možností dětské postýlky. Toto ubytování máme rezervované z větší části pro rodinu a rodinky s velmi malými dětmi."
      address="Stolín 12, 549 41 Červený Kostelec"
      contact="(+420) 731 581 918"
    ></app-hotel-card>
    <app-hotel-card
      class="hotel-2"
      img="../../assets/lhota.jpg"
      title="Penzion Lhota"
      text="Jedná se o vilu s kapacitou cca 40 lůžek. Jde o dvojlůžkové pokoje. Cena pokoje je 450 CZK na noc. Parkování zdarma. Ubytovací kapacitu, zde máme předjednanou, ale nerezervovanou."
      address="Lhota za Červeným Kostelcem 383, 549 41 Červený Kostelec"
      contact="(+420) 731 773 842"
    ></app-hotel-card>
  </div>
</section>
