<section class="section" id="hotel">
  <div class="section-title">
    <h2>Ubytování</h2>
    <div class="underline"></div>
  </div>
  <div class="section-center">
    <p class="hotel-prologue">
      Ubytování jsme pro Vás zajistili přímo ve <span>Stolíně (U Pešíků)</span>, <span>Červeném
      Kostelci (penzion Černý Kůň)</span> a <span>Rtyni v pod Krkonoší (Vilka Rtyně)</span>. Zároveň
      je pro Vás zajištěn rozvoz/svoz z ubytování do <span>restaurace u Pešíků.</span>
      Všechny penziony mají prostor pro parkování, kde můžete svá auta
      zaparkovat a nechat se odvézt zpět na hostinu v čase 16:00-18:00 hod.
      Klíče od pokojů a kontakt na rozvoz/svoz obdržíte po svatebním obědě od
      Verči.
    </p>
    <h4 style="margin-left: auto;margin-right: auto;text-align: center;">PROSÍME O INFO, ZDA MÁTE ZÁJEM O UBYTOVÁNÍ.</h4>
  </div>
  <div class="section-center hotel-center">
    <app-hotel-card
      class="hotel-item"
      img="../../assets/pesik.png"
      title="Penzion u Pešíků"
      text="Ubytování má kapacitu 24 lůžek ve třílůžkových a čtyřlůžkových pokojích s možností dětské postýlky. Toto ubytování máme rezervované z větší části pro rodinu a rodinky s velmi malými dětmi."
      address="Stolín 12, Červený Kostelec 549 41"
      contact="(+420) 731 581 918"
    ></app-hotel-card>
    <app-hotel-card
      class="hotel-item"
      img="../../assets/blackHorse.jpg"
      title="Hotel Černý kůň"
      text=""
      address="Boženy Němcové 67, Červený Kostelec, 54941"
      contact="(+420) 603 573 657"
    ></app-hotel-card>
    <app-hotel-card
      class="hotel-item"
      img="../../assets/vilka.jpg"
      title="Vilka Rtyně"
      text=""
      address="K Viaduktu 549, 542 33 Rtyně v Podkrkonoší"
      contact="(+420) 724 048 733"
    ></app-hotel-card>
  </div>
</section>
