.hotel-prologue span{
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .hotel-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .hotel-item {
    flex: 0 0 calc(50% - 2rem);
  }
}
