.parking {
  background: var(--clr-grey-10);
}
.parking-container h3{
  text-align: center;
}

.parkmap-img-container {
  margin-top: 1.5rem;
}

.weblink{
  display: flex;
  gap: 5px;
}

.weblink a {
  animation: bounce 2s ease infinite;
}

@media screen and (min-width: 768px) {
  .section-parking {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
