<section class="section parking" id="parking">
  <div class="section-title">
    <h2><span>Parkování</span></h2>
  </div>
  <div class="section-center section-parking">
    <div class="parking-container">
      <div class="underline"></div>
      <h3>Na zámku</h3>
      <p>
        Parkování je umožněno svatebčanům kdekoliv na Husově náměstí ZDARMA.
        Podmínkou je mít označené/vyzdobené auto. Stužky od nás dostanete
        společně se svatebním oznámením. Prosíme, ozdobte si alespoň zrcátka u
        vašeho auta, aby bylo pro městskou policii zřejmé, že patříte ke svatbě.
      </p>
    </div>
    <div class="parking-container">
      <div class="underline"></div>
      <h3>V restauraci u Pešíků</h3>
      <p>
        Můžete parkovat přímo u restaurace kapacita 20 aut. Případně nad
        restaurací u lesa. Parkování zdarma
      </p>
    </div>
    <div class="parking-container">
      <div class="underline"></div>
      <h3>(Kočárky)</h3>
      <p>
        Pokud máte kočárek doporučujeme parkovat přímo pod zámeckou zahradou na
        parkovišti "Farská zahrada" u smuteční síně v Novém Městě nad Metují.
        Jedná se o bezbariérový vstup do zahrad zámku.
      </p>
    </div>
  </div>
  <div class="section-center parkmap-img-container">
    <img src="../../assets/parkMap.png" class="hotel-img" alt="" />
    <div class="weblink">
      <fa-icon [icon]="faLink"></fa-icon>
      <a class="nav-link" href="https://mapy.cz/s/nocadalasa" target="_blank">URL</a>
    </div>
  </div>
</section>
